.cl{
    width: 55%;
    height: 40em;
}
.bckgnd{
    background-image:url(uuu.jpg);
    background-size: 100%;
}
.exp{
    background-image:url(uuu.jpg);
    background-size: 100%;
}
.serv{
    background-image:url();
    background-size: 100%;
}
.cont{
    background-image:url();
    background-size: 100%;
}
}
