.cl{
    width: 55%;
    height: 40em;
}
.bckgnd{
    background-image:url(uuu.jpg);
    background-size: 100em;
}
.exp{
    background-image:url(uuu.jpg);
    background-size: 100em;
}
.serv{
    background-image:url();
    background-size: 100%;
}
.cont{
    background-image:url();
    background-size: 100%;
}
.navbar-light .navbar-toggler-icon {
    background-color: #ffff !important;
}
